// Values thanks to Azur Lane Wiki https://azurlane.koumakan.jp/wiki/Azur_Lane_Wiki
$lightgray: #ccc;
$blue: #9fe8ff;
$purple: #c4adff;
$gold: #ee9;
$rainbow: linear-gradient(120deg,#fbffca,#baffbf,#a7efff,#ffabff);
